@import "bourbon";
@import "neat";
@import "base/base";

html, body {margin:0;padding:0;height:100%;}
body { background-color: yellow}
#app { height:100%;background-color: red;}

@import "components/hero";
// ---------

